body {
  font-family: "Lato";
  margin: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
  background-color: #fafafa;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Catamaran";
  font-weight: 800 !important;
}

h2 {
  margin: 3px 20px;
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  background: white;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.CardGroup {
  margin: 50px 40px 100px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 40px;
  justify-items: center;
}

@media (max-width: 1060px) {
  .CardGroup {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 720px) {
  .CardGroup {
    grid-template-columns: repeat(1, 1fr);
  }
}

.img-navbar {
  width: 3.5rem;
  height: 3rem;
  border-radius: 3rem;
}

.img-user {
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
}

.navbar-flex-box {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.add-flex-box {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.add-button {
  width: 10rem;
  height: 3rem;
  border-radius: 2rem;
  border-color: transparent;
  font-weight: 800;
  cursor: pointer;
  color: white;
  background-color: #fe4a49;
  font-size: 1rem;
}

.flex-box-username {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  align-items: center;
  flex-direction: column;
}

p {
  margin: 0;
}

.search-css {
  display: flex;
  justify-content: center;
}

.search-style {
  width: 18rem;
  border-radius: 17px;
  height: 2rem;
  border: 3px solid black;
  margin-top: 2rem;
  outline: none;
  font-size: 20px;
}
